snippet fo description
    bar ${1:line}

snippet fori for .. ipairs
    for ${1:key}, ${2:value} in ipairs(${3:t}) do
	$0
    end

snippet forp for .. pairs
    for ${1:key}, ${2:value} in pairs(${3:t}) do
	$0
    end

snippet fun function ()
    function $1($2)
	$0
    end
