[Unit]
Description=Dunst Notification Daemon
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/dunst
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
